*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 👇 Start custom code 👇 */
body{
  background-color:rgb(229, 207, 177);
  background-image: url(https://wallpapercave.com/wp/wp2021760.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-inline: auto;
  padding: 60px;
}

header{
  font-family: 'Lugrasimo', cursive;
  font-size:19pt;
  text-align:center;
  font-weight:bold;
}

.border{
  border:1px solid black;
}

.poem {
  text-align:left;
  font-family: 'Lugrasimo', cursive;
  font-size: 13pt;
  font-style: oblique;
}

span{
  float:left;
  width:0.7em;
  font-size:60pt;
  font-weight: bolder;
  line-height:80%;
}

figure{
  float:right;
  display:flex;
  flex-direction: column;
}

figcaption{
  font-family: 'Lugrasimo', cursive;
  text-align:center;
  align-items:center;
  float:right;
}

figcaption img{
  max-width:100%;
  height:auto; 
  border:8px double brown;
  
}

.author{
    font-family: 'Lugrasimo', cursive;
}
